<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Book store</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script>function sendForm(){
    let form = document.getElementsByTagName('form');
    form.submit();
}
    </script>
</head>

<body>
    <div class="container">
        <div th:replace="~{navigation :: navigation(Admin)}"/>
        <h1>Администрационная панель</h1>
        <h3>Сервисы:</h3>
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <td>Сервис</td>
                <td>Количество вызовов</td>
            </tr>
            </thead>
            <tbody>

                <tr th:each="s : ${stats}">
                    <td th:text="${s.methodName}"></td>
                    <td th:text="${s.callAmount}"></td>
                </tr>

            </tbody>
        </table>
    </div>
</body>
</html>