<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Book store</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(BookStore)}"/>

    <h1>Магазин книг</h1>
    <br>
    <h4>Фильтр:</h4>
    <form th:action="@{'/books'}" method="get">
        <div class="form-group">
            <input th:value="${pageIndex}" hidden class="form-control form-control-sm" type="number" name="p">

            <label>Название</label>
            <input th:value="${param.titlePart != null ? param.titlePart : null}" type="text" class="form-control form-control-sm" name="titlePart">

            <label>Минимальная цена</label>
            <input th:value="${param.minPrice != null ? param.minPrice : null}" type="number" class="form-control form-control-sm" name="minPrice">

            <label>Максимальная цена</label>
            <input th:value="${param.maxPrice != null ? param.maxPrice : null}" type="number" class="form-control form-control-sm" name="maxPrice">

            <th:block th:each="g : ${genres}">
                <input th:value="true" type="checkbox" th:name="${g.name()}" th:checked="${param.get(g.name())}"> <span
                    th:text="${g.getStr()}"></span> <br>
            </th:block>

        </div>
        <button type="submit" class="btn btn-primary">Применить</button>
    </form>

    <br>
    <br>
    <h4>Список книг:</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Название</td>
            <td>Описание</td>
            <td>Цена</td>
            <td>Год издания</td>
            <td>Жанр</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="b : ${books}">
            <td th:text="${b.title}"></td>
            <td th:text="${b.description}"></td>
            <td th:text="${b.price}"></td>
            <td th:text="${b.publishYear}"></td>
            <td th:text="${b.genre.getStr()}"></td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <div class="pagination">
            <li class="page-item"><a class="page-link"
                                      th:href="@{'/books/?p=' + ${pageIndex-1} + ${strParams}}"
                                      th:if="${pageIndex>1}">Previous</a></li>
            <div th:each="pageNumber : ${pageNumbers}">
                <li class="page-item"><a class="page-link"
                                         th:href="@{'/books/?p=' + ${pageNumber} + ${strParams}}"
                                         th:text="${pageNumber}"></a></li>
            </div>
            <li class="page-item"><a class="page-link"
                                     th:href="@{'/books/?p=' + ${pageIndex+1} + ${strParams}}"
                                     th:if="${pageIndex < pageNumbers.size()}">Next</a></li>
        </div>
    </nav>
</div>
</body>
</html>